.columns > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 36px;
}

.columns > div > div {
  margin: 0 auto;
  text-align: center;
}

.columns img {
  width: 100%;
}

@media (min-width: 768px) {
  .columns > div {
    display: flex;
    align-items: flex-start;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
  }

  .columns.columns-2-cols > div {
    column-gap: 123px;
  }

  .columns.columns-3-cols > div {
    column-gap: 32px;
  }

}