
header {
  width: 100%;
  background-color: var(--body-background-color);
  box-shadow: 0 1px 4px rgba(0 0 0 / 15%);
  display: flex;
  justify-content: space-between;
}

.header a {
  color: #000;
  text-decoration: none solid #000;
  text-decoration-thickness: auto;
}

.header {
  width: 100%;
}

.header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.header nav .nav-list {
  list-style: none;
}

.header nav .nav-list .nav-item {
  display: block;
  padding-left: 8px;
  line-height: 1.5;
}

.header nav .nav-primary {
  height: var(--nav-height);
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav .nav-primary .nav-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header nav .nav-primary .nav-logo .image {
  display: flex;
  margin-right: 16px;
  padding: 5px 0;
  font-size: var(--body-font-size-l);
}

.header nav .nav-primary .nav-logo .image img {
  width: 130px;
  height: 20px;
}

.header nav .nav-primary .nav-logo .nav-link {
  display: flex;
  align-items: center;
  position: relative;
  transform: translateY(2px)
}

.header nav .nav-primary .nav-logo .nav-link a {
  font-weight: 900;
  font-size: var(--body-font-size-xxs);
  letter-spacing: 1.6px;
  line-height: 10.8px;
  text-transform: uppercase;
}

.header nav .nav-primary .nav-hamburger .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header nav .nav-primary .nav-hamburger .nav-list .nav-item .nav-link {
  display: block;
  margin: 0 10px;
  padding: 8px 0;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: var(--body-font-size-xxs);
}

.header nav .nav-primary .nav-hamburger .mobile-menu-icon .mobile-icon {
  transition: opacity .5s cubic-bezier(.25, .46, .45, .94);
  max-height: 20px;
  max-width: 20px;
  vertical-align: middle;
}

body.menu-is-open .header nav .nav-primary .nav-hamburger .mobile-menu-icon .mobile-icon.open {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.header nav .nav-primary .nav-hamburger .mobile-menu-icon .mobile-icon.close {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

body.menu-is-open .header nav .nav-primary .nav-hamburger .mobile-menu-icon .mobile-icon.close {
  position: relative;
  left: 0;
  opacity: 1;
}

.header nav .nav-utility {
  display: none;
}

@media screen and (max-width: 989px) {
  .header nav .nav-primary .nav-sections {
    top: 76px;
    right: -120%;
    max-width: calc(100% - 32px);
    width: 300px;
    height: calc(100vh - var(--nav-height));
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    z-index: 9999;
    transition: right .5s cubic-bezier(.165, .84, .44, 1);
  }

  body.menu-is-open .header nav .nav-primary .nav-sections {
    right: 0;
    border-top: 1px solid var(--body-border-color);
    overflow-y: scroll;
  }

  .header nav .nav-primary .nav-sections ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: var(--body-background-color);
  }

  .header nav .nav-primary .nav-sections ul li {
    line-height: 1.5;
  }

  .header nav .nav-primary .nav-sections ul li a {
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .6875rem;
    border-bottom: 1px solid var(--body-border-color);
    color: #222;
    display: inline-block;
    padding: 18px 36px 16px 12px;
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .header nav .nav-primary {
    height: 75px;
    padding-right: 15px;
  }

  .header nav .nav-primary .nav-hamburger {
    display: none;
  }

  body .header nav .nav-primary .nav-sections .nav-list,
  body.menu-is-open .header nav .nav-primary .nav-sections .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .header nav .nav-primary .nav-sections .nav-list .nav-item {
    position: relative;
  }

  .header nav .nav-primary .nav-sections .nav-list .nav-item:not(:first-of-type) {
    margin-left: 24px
  }

  .header nav .nav-primary .nav-sections .nav-list .nav-item:not(:first-of-type)::before {
    background-color: #767676;
    content: "";
    height: 20px;
    left: -8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px
  }

  .header nav .nav-primary .nav-sections .nav-list .nav-item a {
    display: block;
    margin: 0 10px;
    padding: 8px 0;
    font-size: var(--body-font-size-xs);
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .header nav .nav-utility {
    display: block;
    flex-basis: 100%;
    background-color: #222;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .header nav .nav-utility .nav-list {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 4px 15px;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .header nav .nav-utility .nav-list a {
    margin: 0 10px;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    font-size: var(--body-font-size-xs);
    font-weight: 900;
    color: var(--text-color-gray);
    text-decoration-color: var(--text-color-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .header nav .nav-utility .nav-list img {
    max-height: 16px;
    max-width: 16px;
    margin-left: 12px;
  }
}

@media screen and (min-width: 1120px) {
  .header nav .nav-primary .nav-logo {
    flex-direction: row;
    align-items: center;
  }

  .header nav .nav-primary .nav-logo .image img {
    width: auto;
    height: 25px;
  }

  .header nav .nav-primary .nav-logo .nav-link {
    margin-left: 12px;
  }

  .header nav .nav-primary .nav-logo .nav-link a {
    font-size: var(--body-font-size-s);
  }

  .header nav .nav-primary .nav-logo .nav-link::before {
    background-color: #000;
    content: "";
    height: 24px;
    left: -12px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }

}
