
.hero.block {
  position: relative;
}

.hero.block .hero-heading {
  padding: 100px 0;
}

.hero.block .hero-heading .hero-heading {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1240px;
}

.hero.block .hero-heading h1 {
  z-index: 9999;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0 0 0 / 50%)
}

.hero.block .hero-image {
  z-index: -9999;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: clip;
}

.hero.block .hero-image picture {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #eee;
}

.hero.block .hero-image picture img {
  object-position: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero.block .hero-image .hero-angle {
  background-position: bottom center;
  background-size: cover;
  bottom: 0;
  display: none;
  height: 40px;
  left: 0;
  position: absolute;
  width: 100vw;
}

.hero.block .hero-image .hero-angle::before,
.hero.block .hero-image .hero-angle::after {
  height: 0;
  position: absolute;
  width: 0;
  content: "";
  bottom: 0;
}

.hero.block .hero-image .hero-angle::before {
  left: 0;
  border-right: 50vw solid transparent;
}

.hero.block .hero-image .hero-angle::after {
  right: 0;
  border-left: 50vw solid transparent;
}

@media screen and (min-width: 576px) {
  .hero.block .hero-heading {
    padding: 117px 0 153px;
  }

  .hero.block .hero-image .hero-angle {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .hero.block .hero-heading {
    padding: 147px 0 175px;
  }

  .hero.block .hero-image .hero-angle::before,
  .hero.block .hero-image .hero-angle::after {
    border-bottom: 60px solid #FFF;
  }
}