.brightcove-wrapper {
  padding: 16px 15px 0;
}

.brightcove.block {
  width: 100%;
  position: relative;
}

.brightcove.block .video-placeholder {
  padding-bottom: 65%;
  cursor: pointer;
  z-index: 1;
}

.brightcove.block.video-play-mode .video-placeholder {
  z-index: -1;
}

.brightcove.block .video-template {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.brightcove.block.video-play-mode .video-template {
  z-index: 1;
}

.brightcove.block .video-template video-js {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}


.brightcove.block .video-placeholder picture {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.brightcove.block .video-placeholder picture img {
  object-position: top center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .brightcove-wrapper {
    display: flex;
    justify-content: center;
  }

  .brightcove.block {
    flex-basis: 50%;
  }

  .brightcove.block .video-placeholder {
    padding-bottom: 56.25%;
  }
}